$color-white: #ffffff;
$color-blue: #0094ff;
$color-blue-hover: #007ed9;
$color-red: #ff0000;
$color-red-hover: #c00000;
$color-green: #039000;
$color-green-hover: #026300;
$color-black: #000000;
$color-gray: #848484;
